@font-face {
    font-family: "Russo One";
    src: url("../../../public/fonts/RussoOne.ttf") format("truetype");
}

@font-face {
    font-family: "AKONY";
    src: url("../../../public/fonts/AKONY.ttf") format("truetype");
}

.MainPage {
    overflow-x: hidden;
    background-color: #000000;
    min-height: 100vh;
    width: 100%;
    color: white;
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "header leaders"
        "userstats lastgame";
    grid-template-columns: 2fr 1fr;
    gap: 1vw;
}

.highlighted {
    color: #fe6d00;
}

.MainPageHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5vw;
    font-family: "AKONY";
    grid-area: header;
}

.MainPageTitle {
    font-size: 6vh;
    margin-bottom: 2vh;
}

.MainPageButton {
    background-color: #0f47ad;
    color: #fff;
    border: none;
    padding: 2.5vh 5vw;
    border-radius: 2vh;
    font-size: 3vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "AKONY";
}

.MainPageButton:hover {
    background-color: #fe6d00;
}

.MPLeaders {
    grid-area: leaders;
    max-width: 100%;
}

.MPUserStats {
    grid-area: userstats;
    margin-left: 3vw;
    margin-top: -3vh;
}

.MPLastGame {
    grid-area: lastgame;
}

.MPNavbar {
    grid-area: navbar;
}