@font-face {
    font-family: "AKONY";
    src: url("../../../public/fonts/AKONY.ttf") format("truetype");
}
@font-face {
    font-family: "Russo One";
    src: url("../../../public/fonts/RussoOne.ttf") format("truetype");
}

.highlighted {
    color: #fe6d00;
}

.MPLeaders {
    grid-area: leaders;
    max-width: 100%;
}

.MPLeadersTable {
    display: flex;
    gap: 6vw;
    background-color: #1b1b1b;
    height: 27vh;
    width: 24vw;
    padding: 2vh;
    border-radius: 1.5vh;
    color: #fff;
    text-align: left;
    font-family: "Russo One";
    font-size: 2vh;
}

.MPLeaders h2 {
    font-size: 3vh;
    margin-bottom: 1vh;
    font-family: "AKONY";
    color: #fff;
    text-align: left;
}

.MPLeadersColumn {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

