.board {
    margin-left: 5vh;
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);

}

.cell {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell.light {
    background-color: #ffffff;
}

.cell.dark {
    background-color: #0F47AD;
}

.figure {
    width: 75px;
    height: 75px;
}


